.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(81, 144, 202);
    position: relative;
}
.login-box{
    border: 1px white solid;
    background-color: whitesmoke;
    width: 30vw;
    height: 50vh;
    margin:auto;
    text-align: center;
}
.logo{
    margin-top: 20px;
    margin-bottom: 25px;
    width: 50%;
}
.input-form{
    width: 80%;
    border-color: rgb(157, 156, 156);
    margin-bottom: 15px;
    height: 45px;
}
.login-button{
    width: 100px;
    height: 40px;
}
.error{
    color: red;
    font-style: italic;
}
.menubar{
    position: fixed;
    top: 0;
    background-color: rgb(8, 186, 180);
    width: 15vw;
    height: 100vh;
    display:block;
    color: aliceblue;
    float: left;
    text-align: center;
    font-size: x-large;
}
.taskbar{
    position: fixed;
    padding-left:2vw;
    top:0;
    right:0;
    width: 83vw;
    height: 10vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    float: right;
    justify-content: space-between;
    z-index: 1;
}
.content{
    position:relative;
    border-style:unset;
    display:flex;
    float: right;
    right: 0;
    width: 85vw;
    height:fit-content;
    flex-wrap: wrap;
    box-sizing: inherit;
    align-self: center;
    align-items: center;    
}
.inside{
    margin-top: 10vh;
    left: 7.5%;
    align-self: center;
    width: 85%;
    display: block;
    position: relative;
    padding: auto;
    height: fit-content;
    text-align: center;
}
a{
    text-decoration: none;
}
